
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="https://cb2.scene7.com/is/image/CB2/BordeauxChairFrameSHS17_16x9/?$web_zoom_furn_hero$&161012154820&wid=1008&hei=567" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price float-left">
                        150$
                    </div>
                    <a href="#" class="btn btn-success float-right">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="https://cb2.scene7.com/is/image/CB2/BordeauxChairFrameSHS17_16x9/?$web_zoom_furn_hero$&161012154820&wid=1008&hei=567" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price float-left">
                        150$
                    </div>
                    <a href="#" class="btn btn-success float-right">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="https://cb2.scene7.com/is/image/CB2/BordeauxChairFrameSHS17_16x9/?$web_zoom_furn_hero$&161012154820&wid=1008&hei=567" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price float-left">
                        150$
                    </div>
                    <a href="#" class="btn btn-success float-right">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="https://cb2.scene7.com/is/image/CB2/BordeauxChairFrameSHS17_16x9/?$web_zoom_furn_hero$&161012154820&wid=1008&hei=567" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price float-left">
                        150$
                    </div>
                    <a href="#" class="btn btn-success float-right">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="https://cb2.scene7.com/is/image/CB2/BordeauxChairFrameSHS17_16x9/?$web_zoom_furn_hero$&161012154820&wid=1008&hei=567" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price float-left">
                        150$
                    </div>
                    <a href="#" class="btn btn-success float-right">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="https://cb2.scene7.com/is/image/CB2/BordeauxChairFrameSHS17_16x9/?$web_zoom_furn_hero$&161012154820&wid=1008&hei=567" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div>
                    <div class="price float-left">
                        150$
                    </div>
                    <a href="#" class="btn btn-success float-right">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
</div>